.Header
{
    height: 34vw;
    margin: 30px 0;
    background: url('../../assets/header_img.png') no-repeat;
    background-size:contain ;
    position: relative;
}
.Header-content
{
    color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}
.Header-content h2
{
    font-weight: 500;
    font-size: max(4.5vw,22px);
}
.Header-content p
{
    font-size: 1vw;
    color: #f0f0f0;
}
.Header-content button
{
    padding: 1vw 2.3vw;
    border: none;
    border-radius: 50px;
    background:white;
    color: #747474;;
    font-size: max(1.2vw,14px);
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s ease;
}
@keyframes fadeIn
{
    0%{opacity: 0; transform: translateY(20px);}
    100%{opacity: 1; transform: translateY(0);}
}

.Food-list p{
    font-size: 1.3vw;
    color: #555;
    margin: 20px;
    text-align: start;
    justify-content: start;


}